openapi: '3.0.1'
info:
  title: Nozomi Alerts API
  description: OpenAPI specification for the Nozomi Alerts API
  version: '1.0'
  
servers:
- url: https://ernstyoung.customers.us1.vantage.nozominetworks.io

paths: 
  /api/open/query/do:
    get:
      tags:
      - Complete Nozomi Alert
      summary: "Calls Nozomi API for alerts"
      description: "Calls Nozomi API for alerts that have been created within the last 24 hours"
      operationId: "CurrentAlertsData"
      parameters:
        - name: query
          in: query
          description: Properties to exclude
          required: false
          schema:
            type: string
            example: alerts | exclude bpf_filter properties description | where time >= hours_ago(24) | where !is_incident | where risk >= 7
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                  header:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
                    example: 0

        404:
          description: Not found response

components:
  securitySchemes:
    bearerAuth:            
      type: http
      scheme: bearer
      bearerFormat: JWT    

security:
  - bearerAuth: [] 
