openapi: 3.0.0
info:
  title: Nozomi Alerts API
  description: OpenAPI specification for the Nozomi Alerts API
  version: 1.0.0
  
servers:
- url: https://ernstyoung.customers.us1.vantage.nozominetworks.io

paths: 
  /api/open/query/do:
    get:
      tags:
      - Complete Nozomi Alert
      summary: Retrieve alerts
      description: Calls Nozomi API for alerts that have been created within the last 24 hours
      operationId: getAlerts
      parameters:
        - in: query
          name: query
          description: alerts with level 7 our higher within past 24 hours
          schema:
            type: string
            example: alerts%20%7C%20exclude%20bpf_filter%20properties%20description%20%7C%20where%20time%20%3E%3D%20hours_ago%2848%29%20%7C%20where%20%21is_incident%20%7C%20where%20risk%20%3E%3D%207
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                  header:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
                    example: 0
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error

components:
  securitySchemes:
    bearerAuth:            
      type: http
      scheme: bearer
      bearerFormat: JWT    

security:
  - bearerAuth: [] 
